@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
  font-family: montserrat-Bold;
  src: url(assets/Montserrat/Montserrat-Bold.ttf);

}
@font-face {
  font-family: montserrat-SemiBold;
  src: url(assets/Montserrat/Montserrat-SemiBold.ttf);

}
body{
  font-family: Roboto;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
